.header_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: var(--charcoal);
    height: 10vh;
    color: white;
    padding: 1% 5%
}

@media (min-width:1100px) {
    .header_container{
        padding: 1% 15%;
        height: 5vh;
    }

    .mobile_nav_menu{
        display: none;
    }
}