.home_background_image{
    background: url(../public/assets/marvel_bg_1.jpg);
    height: 200px;
    background-size: cover;
}

.home_title{
    padding-top:15px;
    font-size: 32px;
    text-align: center;
}

.about_app_blob{
    background-color: white;
    border-radius: 5px;
    height: 150px;
    padding: 5%;
    margin-top:15px;
}

.about_app_blob div{
    font-size: 18px;
}

.featured_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.featured_header{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 22px;
}
.featured_item{
    text-align: center;
}

.featured_item i{
    font-size:20px;
}

.featured_card{
    margin-top:15px;
    background-color: white;
    height: 300px;
    width: 300px;
    position: relative;
}

.featured_card img{
    height: 100%;
    width: 100%;
    border-radius:5px;
}

@media (min-width: 720px) {
    .home_background_image{
        height: 350px;
    }

    .about_app_blob{
        margin:0% 10%; 
    }

    .featured_container{
        margin-top: 5%;
        padding: 0% 10%;
        padding-bottom: 5%;
    }
}

@media (min-width:1000px) {
    .home_background_image{
        height: 500px;
    }

    .featured_container{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (min-width:1100px) {
    .home_title{
        text-align: start;
        margin-left:10%;
        margin-bottom: 1%;
    }

    .home_background_image{
        height: 600px;
        background-position: center;
    }
    
    .featured_header{
        text-align: center;
    }

    .featured_card{
        height: 250px;
        width: 250px;
    }
}